{% extends 'edit_base.html' %}
{% load thumbnail %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/edit/">Edit Site</a></li>
	<li><a href="{% url 'edit_show' auction.show.id %}">{{auction.show.title}}</a></li>
  <li class="active">Auction</li>
</ol>

<h1>Edit {{auction.show.title}}</h1>

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}

{% if auction.is_ongoing %}
<form action="{% url 'end_auction' auction.id %}" method="post">
<input type="submit" class="btn btn-warning"
value="End the auction NOW" />
</form>
{% else %}
<form action="{% url 'start_auction' auction.id %}" method="post" role="form">
<input type="submit" class="btn btn-warning"
value="Start the auction NOW" />
</form>
{% endif %}
<br />

<p><a href="{% url 'auction_dashboard' auction.id %}">View Bid Dashboard</a></p>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#items" role="tab"
  data-toggle="tab">Auction Items</a></li>
  <li role="presentation"><a href="#info" role="tab"
  data-toggle="tab">Basic Info</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="items">
		<h3>Add Item</h3>
		<form action="{% url 'add_item_to_auction' auction.id %}"
		method="post" role="form">

			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" name="title" id="title"
							 value="" class="form-control" />
			</div>

			<div class="form-group">
				<label for="artist">Artist</label>
				<input type="text" name="artist" id="artist"
							 value="" class="form-control" />
			</div>

			<div class="form-group">
				<label for="artist2">Artist 2 (optional)</label>
				<input type="text" name="artist2" id="artist2"
							 value="" class="form-control" />
			</div>

			<div class="form-group">
				<label for="medium">Medium</label>
				<input type="text" name="medium" id="medium"
							 value="" class="form-control" />
			</div>

			<div class="form-group">
				<label for="starting_bid">Starting Bid</label>
				<input type="text" name="starting_bid" id="starting_bid"
							 value="" class="form-control" />
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea name="description" value="description"
									id="description" class="form-control"
									rows="5"></textarea>
			</div>


			<input type="submit" value="Add Item" />
		</form>

{% if auction.item_set.count %}
<h3>Items</h3>

<table class="table table-striped sortable" id="items">
<tr><th>Item</th><th>Artist(s)</th><th></th></tr>
{% for ai in auction.item_set.all %}
<tr id="{{ai.id}}">
	<td><a href="{% url 'edit_auction_item' ai.id %}">{{ai.title}}</a></td>
{% if ai.itemartist_set.count %}
	<td>by {{ai.itemartist_set.all.0.artist.name}}
		{{ai.itemartist_set.all.1.artist.name}}</td>
{% endif %}
	<td><a href="{% url 'remove_item_from_auction' ai.id %}" class="btn btn-xs btn-danger">remove</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

	</div>

<div class="tab-pane" id="info">
	<form action="." method="post" role="form">
		<fieldset>
			<div class="form-group">
				<label for="start">
					Start
				</label>
				<input type="text" name="start" id="start"
				value="{{auction.start|date:"Y-m-d"}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="end">
					End
				</label>
				<input type="text" name="end" id="end"
				value="{{auction.end|date:"Y-m-d"}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="auction-description">Description</label>
				<textarea name="description" 
									id="auction-description" class="form-control"
									rows="10">{{auction.description}}</textarea>
			</div>

			<input type="submit" class="btn btn-primary" value="save" />

		</fieldset>
	</form>
</div>

</div>

{% endblock %}


{% block js %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
var saveOrderOfItems = function() {
  var url = "{% url 'reorder_auction_items' auction.id %}";
  var worktodo = 0;
  var data = {};
  jQuery("#items tr").each(function(index, element) {
     worktodo = 1;
     var id = jQuery(element).attr('id');
     data["item_" + index] = id;
  });
  if (worktodo == 1) {
       $.ajax({
          url: url,
          type: 'POST',
          data: data
       })
  }
};

$(function() {
  $( "#items" ).sortable({
     items : 'tr'
   , stop: function (event,ui) { saveOrderOfItems(); }
  });
  $( "#items" ).disableSelection();


});
</script>

{% endblock %}
