{% extends 'edit_base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/edit/">Edit Site</a></li>
	<li><a href="{% url 'edit_show' ai.auction.show.id %}">{{ai.auction.show.title}}</a></li>
	<li><a href="{% url 'edit_auction' ai.auction.id %}">Auction</a>
  <li class="active">Item: {{ai.item.title}}</li>
</ol>

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}


<form action="." method="post" role="form">

			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" name="title" id="title"
							 value="{{ai.item.title}}" class="form-control" />
			</div>

			<div class="form-group">
				<label for="medium">Medium</label>
				<input type="text" name="medium" id="medium"
							 value="{{ai.item.medium}}" class="form-control" />
			</div>

			<div class="form-group">
				<label for="starting_bid">Starting Bid</label>
				<input type="text" name="starting_bid" id="starting_bid"
							 value="{{ai.starting_bid}}" class="form-control" />
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea name="description" value="description"
									id="description" class="form-control"
									rows="5">{{ai.item.description}}</textarea>
			</div>
			<input type="submit" value="Save" class="btn btn-primary"/>

</form>
{% if ai.item.itemartist_set.count %}
<h3>Artist(s)</h3>
<table class="table table-striped">
{% for ia in ai.item.itemartist_set.all %}
<tr><td>{{ia.artist.name}}</td><td><a href="{% url 'remove_artist_from_item' ia.id %}" class="btn btn-xs btn-danger">remove</a></td></tr>
{% endfor %}
</table>
{% endif %}

<h3>Add Artist</h3>
<form action="{% url 'add_artist_to_item' ai.id %}" method="post" role="form">

			<div class="form-group">
				<label for="artist-select">Select an artist that's already in
				the system</label>
				<select name="artist_id" id="artist-select" class="form-control">
					<option value="">New Artist (enter name below)</option>
					{% for artist in all_artists %}
					<option value="{{artist.id}}">{{artist.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="artist-name">Or add a new artist</label>
				<input type="text" name="name" id="artist-name"
							 value="" class="form-control" />
			</div>

<input type="submit" value="Add artist" class="btn btn-primary" />
</form>

<h3>Delete</h3>
<a href="{% url 'delete_item' ai.item.id %}" class="btn btn-danger">delete</a>

{% endblock %}
