{% extends 'edit_base.html' %}
{% load thumbnail %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/edit/">Edit Site</a></li>
{% if ai.auction %}
	<li><a href="{% url 'edit_show' ai.auction.show.id %}">{{ai.auction.show.title}}</a></li>
	<li><a href="{% url 'edit_auction' ai.auction.id %}">Auction</a>
{% endif %}
  <li class="active">Item: {{ai.title}}</li>
</ol>

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}


<form action="." method="post" role="form">

			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" name="title" id="title"
							 value="{{ai.title}}" class="form-control" />
			</div>

			<div class="form-group">
				<label for="medium">Medium</label>
				<input type="text" name="medium" id="medium"
							 value="{{ai.medium}}" class="form-control" />
			</div>

			<div class="form-group">
				<label for="starting_bid">Starting Bid</label>
				<input type="text" name="starting_bid" id="starting_bid"
							 value="{{ai.starting_bid}}" class="form-control" />
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea name="description" value="description"
									id="description" class="form-control"
									rows="5">{{ai.description}}</textarea>
			</div>
			<input type="submit" value="Save" class="btn btn-primary"/>

</form>
{% if ai.itemartist_set.count %}
<h3>Artist(s)</h3>
<table class="table table-striped">
{% for ia in ai.itemartist_set.all %}
<tr><td>{{ia.artist.name}}</td><td><a href="{% url 'remove_artist_from_item' ia.id %}" class="btn btn-xs btn-danger">remove</a></td></tr>
{% endfor %}
</table>
{% endif %}

<h3>Add Artist</h3>
<form action="{% url 'add_artist_to_item' ai.id %}" method="post" role="form">

			<div class="form-group">
				<label for="artist-select">Select an artist that's already in
				the system</label>
				<select name="artist_id" id="artist-select" class="form-control">
					<option value="">New Artist (enter name below)</option>
					{% for artist in all_artists %}
					<option value="{{artist.id}}">{{artist.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="artist-name">Or add a new artist</label>
				<input type="text" name="name" id="artist-name"
							 value="" class="form-control" />
			</div>

<input type="submit" value="Add artist" class="btn btn-primary" />
</form>

<h3>Add Picture</h3>

		<form action="{% url 'add_picture_to_item' ai.id %}" method="post"
					enctype="multipart/form-data" role="form">

      <div class="form-group">
        <label for="exampleInputFile">Image</label>
        <input type="file" id="image" name="image">
      </div>

			<input type="submit" class="btn btn-primary" value="Upload"/>
		</form>

{% if ai.itempicture_set.count %}
<h3>Pictures</h3>

<div id="images">
{% for p in ai.itempicture_set.all %}

<div class="thumbnail show-thumb" id="{{p.id}}">
		<img src="{% thumbnail p.image 200x150 crop %}" class="img-responsive"/>
	<div class="caption"><a href="/edit/itempicture/{{p.id}}/delete/" class="btn btn-danger">Delete</a></div>
</div>
{% endfor %}
</div>

{% endif %}
<hr style="clear:both" />
<h3>Delete</h3>
<a href="{% url 'delete_item' ai.id %}" class="btn btn-danger">delete</a>

{% endblock %}
