{% extends 'edit_base.html' %}
{% load thumbnail %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/edit/">Edit Site</a></li>
  <li class="active">News Item: {{item.title}}</li>
</ol>

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="row">

	<div class="col-md-10">

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#info" role="tab"
																								data-toggle="tab">Basic Info</a></li>
			<li role="presentation"><a href="#pictures" role="tab" data-toggle="tab">Pictures</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="info">

				<form action="." method="post">

					<div class="form-group">
						<label for="title">
							Title
						</label>
						<input type="text" name="title" id="title"
									 class="form-control" value="{{item.title}}" />
					</div>


					<div class="form-group">
						<label for="top-content">
							Top Content
						</label>
						<textarea name="topcontent" id="top-content"
											rows="5" class="form-control">{{item.topcontent}}</textarea>
					</div>

					<div class="form-group">
						<label for="content">
							Main Content
						</label>
						<textarea name="content" id="content"
											rows="10" class="form-control">{{item.content}}</textarea>
					</div>

					<input type="submit" class="btn btn-primary" value="save" />
				</form>

			</div>

			<div role="tabpanel" class="tab-pane" id="pictures">
				<h3>Add Picture</h3>
				<form role="form" action="{% url 'add_news_picture' item.id %}"
							enctype="multipart/form-data" method="post">
					<input type="file" name="image" /><br />
					<input type="submit" value="Add Picture" class="btn
					btn-primary" />

				</form>
				{% if item.newspicture_set.count %}
				<h3>Pictures</h3>

				{% for p in item.newspicture_set.all %}
				<div class="thumbnail show-thumb">
					<img src="{% thumbnail p.image 200x150 crop %}" class="img-responsive"/>
					<div class="caption"><a href="{% url 'delete_newspicture' p.id %}" class="btn btn-danger">Delete</a></div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>

	<div class="col-md-2">
		<div class="alert alert-info">
			<a href="{% url 'preview_news_item' item.id %}" target="_blank" class="btn btn-info">Preview</a>
		</div>


{% if not item.published %}
<div class="alert alert-warning">
This news item is a draft.
<form action="{% url 'publish_news_item' item.id %}" method="post">
<input type="submit" value="Publish" class="btn btn-warning" />
</form>
</div>
{% else %}
<div class="alert alert-info">
This article is published.
<form action="{% url 'revert_news_item' item.id %}" method="post">
<input type="submit" value="Revert to Draft" class="btn btn-info" />
</form>

</div>
{% endif %}

<div class="alert alert-danger">
<a class="btn btn-danger" href="{% url 'delete_news_item' item.id %}">Delete</a>
</div>
</div>


</div>

{% endblock %}
