{% extends 'edit_base.html' %}

{% block content %}
<h1>Edit {{show.title}}</h1>

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}

<h2>Basic Info</h2>

<div class="panel panel-default">
	<div class="panel-body">
	<form action="." method="post" role="form">
		<fieldset>
			<div class="form-group">
				<label for="title">
					Title
				</label>
				<input type="text" name="title" id="title"
				value="{{show.title}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="year">
					Year
				</label>
				<input type="text" name="year" id="year"
				value="{{show.year}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="location">
					Location
				</label>
				<input type="text" name="location" id="location"
				value="{{show.location}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="description">
					Description
				</label>
				<textarea name="description" id="description"
									rows="10"
									class="form-control">{{show.description}}</textarea>
			</div>
			<input type="submit" class="btn btn-primary" value="save info" />

		</fieldset>
	</form>
	</div>
</div>


<section>
	<h2>Videos</h2>

<div class="panel panel-default">
	<div class="panel-heading">Add Video</div>
	<div class="panel-body">
		<form action="add_video/" method="post">
			<div class="form-group">
				<label for="youtube_id">
					Youtube ID
				</label>
				<input type="text" name="youtube_id" id="youtube_id"
				class="form-control" />
			</div>
			<input type="submit" class="btn btn-primary" value="add video" />
		</form>
	</div>
</div>

{% if show.showvideo_set.count %}
<div class="panel panel-default">
	<div class="panel-heading">Videos</div>

	<div class="panel-body">
		{% for sv in show.showvideo_set.all %}

<div class="row">
<div class="col-md-1">
<a href="/edit/showvideo/{{sv.id}}/delete/" class="btn btn-danger">Delete</a>
</div>
<div class="col-md-10">
<div class="embed video-player">
<iframe class="youtube-player" type="text/html"
    width="853" height="480"
    src="http://www.youtube.com/embed/{{v.youtube_id}}"
    allowfullscreen frameborder="0">
</iframe>
</div>
</div>
</div>
		{% endfor %}
	</div>
</div>
{% endif %}

</section>


<section>
	<h2>Pictures</h2>

<div class="panel panel-default">
	<div class="panel-heading">Add Picture</div>
	<div class="panel-body">
	</div>
</div>

</section>

{% endblock %}
