{% extends 'edit_base.html' %}
{% load reticulum %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/edit/">Edit Site</a></li>
  <li class="active">{{show.title}}</li>
</ol>

<h1>Edit {{show.title}}</h1>

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}


<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#info" role="tab"
  data-toggle="tab">Basic Info</a></li>
  <li role="presentation"><a href="#videos" role="tab" data-toggle="tab">Videos</a></li>
  <li role="presentation"><a href="#pictures" role="tab" data-toggle="tab">Pictures</a></li>
  <li role="presentation"><a href="#auction" role="tab" data-toggle="tab">Auction</a></li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="info">
	<form action="." method="post" role="form">
		<fieldset>
			<div class="form-group">
				<label for="title">
					Title
				</label>
				<input type="text" name="title" id="title"
				value="{{show.title}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="year">
					Year
				</label>
				<input type="text" name="year" id="year"
				value="{{show.year}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="location">
					Location
				</label>
				<input type="text" name="location" id="location"
				value="{{show.location}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="description">
					Description
				</label>
				<textarea name="description" id="description"
									rows="10"
									class="form-control">{{show.description}}</textarea>
			</div>
			<input type="submit" class="btn btn-primary" value="save" />

		</fieldset>
	</form>
</div>


<div role="tabpanel" class="tab-pane" id="videos">

<h3>Add Video</h3>
		<form action="add_video/" method="post">
			<div class="form-group">
				<label for="youtube_id">
					Youtube ID
				</label>
				<input type="text" name="youtube_id" id="youtube_id"
				class="form-control" />
			</div>
			<input type="submit" class="btn btn-primary" value="add video" />
		</form>

{% if show.showvideo_set.count %}
<h3>Videos</h3>

<div id="videos-list">
		{% for sv in show.showvideo_set.all %}

<div class="row show-video" id="{{sv.id}}">
<div class="col-md-1">
<a href="/edit/showvideo/{{sv.id}}/delete/" class="btn btn-danger">Delete</a>
</div>
<div class="col-md-10">
<div class="embed video-player">
<iframe class="youtube-player" type="text/html"
    width="560" height="315"
    src="http://www.youtube.com/embed/{{sv.youtube_id}}"
    allowfullscreen frameborder="0">
</iframe>
</div>
</div>
</div>
		{% endfor %}
</div>
{% endif %}

</div>


<div role="tabpanel" class="tab-pane" id="pictures">
<h3>Add Picture</h3>
		<form action="add_picture/" method="post"
					enctype="multipart/form-data" role="form">

      <div class="form-group">
        <label for="exampleInputFile">Image</label>
        <input type="file" id="image" name="image">
      </div>

      <div class="form-group">
        <label for="pictureCaption">Caption</label>
        <textarea name="caption" id="pictureCaption" class="form-control"></textarea>
      </div>
      
			<input type="submit" class="btn btn-primary" value="Upload"/>
		</form>

{% if show.picture_set.count %}
<h3>Pictures</h3>

<div id="images">
{% for p in show.picture_set.all %}

<div class="thumbnail show-thumb" id="{{p.id}}">
		<img src="{% reticulum_url p.rkey p.id p.extension '200w150h' %}" class="img-responsive"/>
	<div class="caption"><a href="/edit/picture/{{p.id}}/delete/" class="btn btn-danger">Delete</a></div>
</div>
{% endfor %}
</div>

{% endif %}

</div>

<div role="tabpanel" class="tab-pane" id="auction">
<h3>Auction</h3>
{% if show.auction %}
<p><a href="{% url 'edit_auction' show.auction.id %}">Manage Auction</a></p>
{% else %}
<p>This show doesn't have an auction defined.</p>
<form action="{% url 'add_auction' show.id %}" method="post" role="form">

      <div class="form-group">
        <label for="start">Start</label>
				<input type="text" name="start" id="start" placeholder="YYYY-MM-DD"
				class="form-control" />
      </div>

      <div class="form-group">
        <label for="end">End</label>
				<input type="text" name="end" id="end" placeholder="YYYY-MM-DD"
				class="form-control" />
      </div>

			<input type="submit" value="Add Auction" class="btn btn-primary" />
</form>
{% endif %}

</div>

</div>

{% endblock %}


{% block js %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
var saveOrderOfImages = function() {
  var url = "{% url 'reorder_show_pictures' show.id %}";
  var worktodo = 0;
  var data = {};
  jQuery(".show-thumb").each(function(index, element) {
     worktodo = 1;
     var id = jQuery(element).attr('id');
     data["pic_" + index] = id;
  });
  if (worktodo == 1) {
       $.ajax({
          url: url,
          type: 'POST',
          data: data
       })
  }
};

var saveOrderOfVideos = function() {
  var url = "{% url 'reorder_show_videos' show.id %}";
  var worktodo = 0;
  var data = {};
  jQuery(".show-video").each(function(index, element) {
     worktodo = 1;
     var id = jQuery(element).attr('id');
     data["video_" + index] = id;
  });
  if (worktodo == 1) {
       $.ajax({
          url: url,
          type: 'POST',
          data: data
       })
  }
};
    

$(function() {
  $( "#images" ).sortable({
     items : 'div.show-thumb'
   , stop: function (event,ui) { saveOrderOfImages(); }
  });
  $( "#images" ).disableSelection();

  $( "#videos-list" ).sortable({
     items : 'div.show-video'
   , stop: function (event,ui) { saveOrderOfVideos(); }
  });
  $( "#videos-list" ).disableSelection();

});
</script>

{% endblock %}
