{% extends 'edit_base.html' %}
{% load thumbnail %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="/edit/">Edit Site</a></li>
  <li class="active">{{show.title}}</li>
</ol>

<h1>Edit {{show.title}}</h1>

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}

<h2>Basic Info</h2>

<div class="panel panel-default">
	<div class="panel-body">
	<form action="." method="post" role="form">
		<fieldset>
			<div class="form-group">
				<label for="title">
					Title
				</label>
				<input type="text" name="title" id="title"
				value="{{show.title}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="year">
					Year
				</label>
				<input type="text" name="year" id="year"
				value="{{show.year}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="location">
					Location
				</label>
				<input type="text" name="location" id="location"
				value="{{show.location}}" class="form-control" />
				</input>
			</div>

			<div class="form-group">
				<label for="description">
					Description
				</label>
				<textarea name="description" id="description"
									rows="10"
									class="form-control">{{show.description}}</textarea>
			</div>
			<input type="submit" class="btn btn-primary" value="save info" />

		</fieldset>
	</form>
	</div>
</div>


<section>
	<h2>Videos</h2>

<div class="panel panel-default">
	<div class="panel-heading">Add Video</div>
	<div class="panel-body">
		<form action="add_video/" method="post">
			<div class="form-group">
				<label for="youtube_id">
					Youtube ID
				</label>
				<input type="text" name="youtube_id" id="youtube_id"
				class="form-control" />
			</div>
			<input type="submit" class="btn btn-primary" value="add video" />
		</form>
	</div>
</div>

{% if show.showvideo_set.count %}
<div class="panel panel-default">
	<div class="panel-heading">Videos</div>

	<div class="panel-body">
		{% for sv in show.showvideo_set.all %}

<div class="row">
<div class="col-md-1">
<a href="/edit/showvideo/{{sv.id}}/delete/" class="btn btn-danger">Delete</a>
</div>
<div class="col-md-10">
<div class="embed video-player">
<iframe class="youtube-player" type="text/html"
    width="560" height="315"
    src="http://www.youtube.com/embed/{{sv.youtube_id}}"
    allowfullscreen frameborder="0">
</iframe>
</div>
</div>
</div>
		{% endfor %}
	</div>
</div>
{% endif %}

</section>


<section>
	<h2>Pictures</h2>

<div class="panel panel-default">
	<div class="panel-heading">Add Picture</div>
	<div class="panel-body">
		<form action="add_picture/" method="post"
					enctype="multipart/form-data" role="form">

      <div class="form-group">
        <label for="exampleInputFile">Image</label>
        <input type="file" id="image" name="image">
      </div>

			<input type="submit" class="btn btn-primary" value="Upload"/>
		</form>
	</div>
</div>

{% if show.picture_set.count %}
<div class="panel panel-default">
	<div class="panel-heading">Pictures</div>
	<div class="panel-body">

{% for p in show.picture_set.all %}

<div class="thumbnail show-thumb">
		<img src="{% thumbnail p.image 200x150 crop %}" class="img-responsive"/>
	<div class="caption"><a href="/edit/picture/{{p.id}}/delete/" class="btn btn-danger">Delete</a></div>
</div>
{% endfor %}
		</table>
	</div>
</div>
{% endif %}

</section>

{% endblock %}
