html {
	height: 100%;
}

body {
  background-color: #fff;
  height: 100%;
}

body > .container {
  min-height: 100%;
  padding-top: 75px;
}

#content {
  min-height: 100%;
}

#logo-header img {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}

.social-media {
  padding-top: 50px;
}

.social-media img {
  background-color: #000;
  padding: 2px;
  margin-right: 27px;
}

.topcontent {
  padding-left: 50px;
}

.topcontent p {
  width: 75%;
}

#news-scroller {
  width: 595px;
  background-color: #333;
  color: #fff;
}

body#now #menu-now { font-weight: bold; }
body#about #menu-about { font-weight: bold; }
body#map #menu-map { font-weight: bold; }
body#contact #menu-contact { font-weight: bold; }
body#artsho1 #menu-artsho1 { font-weight: bold; }
body#artsho2 #menu-artsho2 { font-weight: bold; }
body#artsho3 #menu-artsho3 { font-weight: bold; }
body#artsho4 #menu-artsho4 { font-weight: bold; }

.menu-item {
  display: block;
  padding-top: 5px;
	padding-bottom: 5px;
	font-size: 150%;
  color: #000;
}

.menu-item:hover {
		text-decoration: none;
		color: #000;
    background-color: #f5f5f5;
}

.show-thumb {
		width: 218px;
		height: 218px;
		float: left;
}

.lightbox-dialog .video-player {
  width: 853px;
}
