Django==2.2.5
Markdown==2.6.11 # pyup: <3.0

psycopg2-binary==2.8.3
versiontools==1.9.1
statsd==3.3.0
pep8==1.7.1
pyflakes==2.1.1
mccabe==0.6.1
pycodestyle==2.5.0
enum34==1.1.6
configparser==3.8.1
flake8==3.7.8

cssselect==1.1.0
lxml==4.4.1
fuzzywuzzy==0.17.0
sure==1.4.11
ptyprocess==0.6.0

coverage==4.5.4

chardet==3.0.4
idna==2.8

certifi==2019.6.16

urllib3==1.25.3

requests==2.22.0

logilab-common==1.4.3
logilab-astng==0.24.3

pylint==2.3.1
six==1.12.0

colorama==0.4.1

ipaddress==1.0.22
python-dateutil==2.8.0
pytz==2019.2

Faker==2.0.1

factory_boy==2.12.0

sqlparse==0.3.0
pycryptodome==3.9.0
ecdsa==0.13.2

Fabric3==1.14.post1

paramiko==2.6.0

itsdangerous==1.1.0

astroid==2.2.5

contextlib2==0.5.5
backports-abc==0.5
backports.ssl-match-hostname==3.7.0.1

decorator==4.4.0
funcsigs==1.0.2
html5lib==1.0.1
ipython-genutils==0.2.0
isodate==0.6.0
keepalive==0.5

mock==3.0.5

lazy-object-proxy==1.4.2

nose==1.3.7

pbr==5.4.2

path.py==12.0.1

pickleshare==0.7.5
pyparsing==2.4.2
rcssmin==1.0.6
rjsmin==1.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
traitlets==4.3.2
wrapt==1.11.2

text-unidecode==1.3

django-appconf==1.0.3
django-compressor==2.3
django-statsd-mozilla==0.4.0
django-bootstrap3==11.1.0
django-bootstrap-form==3.4
django-debug-toolbar==1.11
django-waffle==0.17.0
django-discover-jenkins==0.1.4
django-smoketest==1.1.0

django-ga-context==0.1.0
django-impersonate==1.4.1
django-markwhat==1.6.2
gunicorn==19.9.0
django-infranil==1.1.0
django-flatblocks==0.9.4

raven==6.10.0
