{% extends "base.html" %}
{% block title %}
   Please Login
{% endblock %}

{% block content %}

            <form name="login_local" method="post" action=".">
                {% csrf_token %}
                <div class="login-local-form">
                    <div class="fieldwrapper">
                        <label for="id_username">Username:</label>
                        {{ form.username }}
                    </div><!-- fieldwrapper -->
                
                    <div class="fieldwrapper">
                        <label for="id_password">Password:</label>
                        {{ form.password }}
                    </div><!-- fieldwrapper -->
                </div>      
                <input class="regbutton login-local-form" type="submit" value="Log In" />                        
                <input type="hidden" name="next" value="{{ next|urlencode }}" />
            </form>

{% endblock %}
{% block loginbox %}{% endblock %}
