{% extends 'base.html' %}

{% block pagetitle %}ABOUT{% endblock %}
{% block pageid %}about{% endblock %}

{% block topcontent %}
<p>
ARTSHO is a traveling annual exhibition, created by a global network of
thinkers and makers who collaborate around a theme and invite local
participation in a new city each year.  Our aim is make art that spark
conversations and ideas across the innovation spectrum – bringing diverse
disciplines and perspectives together around the artistic process, to
foster new ways of thinking.
</p>

<p>
The project was founded by a small group of friends in Brooklyn in 2009.
Here's our original poster (that's Saleem's dad). Since then we have
repeated and evolved the concept of art as a platform for social change, in
London, Berlin, Budapest and Istanbul.
</p>
{% endblock %}

{% block content %}
<img src="{{STATIC_URL}}img/home_graphic.jpg" />
{% endblock %}
