{% extends 'base.html' %}

{% block pagetitle %}ABOUT{% endblock %}
{% block pageid %}about{% endblock %}

{% block topcontent %}

    <p>ARTSHO is an event series, created by a global network of thinkers and
makers, who collaborate around a theme and invite local participation in a
new city each year. Our aim is to bring diverse disciplines and
perspectives together around the artistic process, to spark conversations,
ideas and new ways of thinking. All artworks produced are also auctioned
        and the money donated to charitable causes close to our hearts.</p>

    <p>The project was started by a small group of friends in Brooklyn in 2009.
Here's our original poster (that's Saleem's dad holding the sign). Since
then we have repeated and evolved the concept of art as a platform for
social change, in New York (2009), London (2011), Berlin (2012), Budapest
        (2013) and Istanbul (2014).</p>

    <p>In 2014, ARTSHO founder Onika Simon moved to Berlin and started <a href="https://spokehub.org/">Spokehub</a>,
a disruptive design network that leverages art practice for design
innovation. All future iterations of ARTSHO will be managed under this
new company - so email onika@spokehub.org if you'd like to find out
more.</http:>

{% endblock %}

{% block content %}
<img src="{{STATIC_URL}}img/home_graphic.jpg" />
{% endblock %}
