{% extends 'base.html' %}

{% block topcontent %}
{% if request.user.is_anonymous %}


<form action="{% url 'bidauth_login' %}" method="post" role="form">
	<div class="modal fade" id="login-box">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<input type="text" class="form-control"
								 name="email" placeholder="email address" />
					<input type="submit" value="login/register" class="btn btn-primary" />
				</div>
			</div>
		</div>
	</div>
</form>


<div class="alert alert-info">
<a href="#login-box" class="btn btn-info"
 data-toggle="modal"
 data-target="#login-box">Login/Register</a> to bid.
</div>
{% else %}
<div class="alert alert-info">
Logged in as {{request.user.email}}
[<a href="/accounts/logout/">logout</a>]
</div>
{% endif %}

{% endblock %}

{% block content %}

<h1>Auction for {{auction.show.title}}</h1>

{% ifequal auction.status "upcoming" %}
<p>Auction will open on {{auction.start}}</p>
{% endifequal %}

{% ifequal auction.status "ongoing" %}
<p>Auction will close around {{auction.end}}</p>
{% endifequal %}

{% ifequal auction.status "completed" %}
<p>Auction closed on {{auction.end}}</p>
{% endifequal %}

{% endblock %}
