{% extends 'base.html' %}
{% load thumbnail %}
{% load markup %}

{% block topcontent %}
{% endblock %}

{% block content %}

<h1>Auction for {{auction.show.title}}</h1>

{% ifequal auction.status "upcoming" %}
<p>This auction will open on <b>{{auction.start}}</b></p>
{% endifequal %}

{% ifequal auction.status "ongoing" %}
<p>This auction will close around <b>{{auction.end}}</b></p>
{% if auction.days_remaining_days %}
<p class="text-info">{{auction.days_remaining_days}} days remaining</p>
{% else %}
<p class="bg-danger">Auction is closing very soon! Get your bid in now!</p>
{% endif %}
{% endifequal %}

{% ifequal auction.status "complete" %}
<p>This auction closed on <b>{{auction.end}}</b></p>
{% endifequal %}

{% if auction.description %}
{{auction.description|markdown}}
{% endif %}

{% if request.user.is_anonymous %}


<form action="{% url 'bidauth_login' %}" method="post" role="form">
	<div class="modal fade" id="login-box">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<input type="text" class="form-control"
								 name="email" placeholder="email address" />
					<input type="hidden" name="next" value="{{request.get_full_path}}" />
					<input type="submit" value="login/register" class="btn btn-primary" />
				</div>
			</div>
		</div>
	</div>
</form>


<div class="alert alert-info">
<a href="#login-box" class="btn btn-info"
 data-toggle="modal"
 data-target="#login-box">Login/Register</a> to bid.
</div>
{% else %}
<div class="alert alert-info">
Logged in as <b>{{request.user.email}}</b>
[<a href="/accounts/logout/">logout</a>]
</div>
{% endif %}



{% ifnotequal auction.status "upcoming" %}
{% comment %} show the auction items {% endcomment %}


{% if auction.item_set.count %}
<h2>Items up for Auction</h2>
{% for item in auction.item_set.all %}
<div class="auction-item panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
{% with item.first_picture as image %}
{% if image %}
<div class="thumbnail">
<a href="{% url 'item_details' item.id %}"><img src="{% thumbnail image.image 600x600 crop %}" width="600"
		 height="600" class="img-responsive" /></a>
</div>
{% endif %}
{% endwith %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<dl class="dl-horizontal">
					<dt>Title</dt><dd><a href="{% url 'item_details' item.id %}">{{item.title}}</a></dd>
					<dt>Artist(s)</dt>
					<dd>{% for ia in item.itemartist_set.all %}
							{{ia.artist.name}}
							{% endfor %}
					</dd>
					<dt>Current Bid</dt><dd>&#8364; {{item.high_bid}}</dd>
				</dl>

{% if item.auction.is_ongoing %}
{% if not request.user.is_anonymous %}
{% ifequal item.high_bidder.id request.user.id %}
<div class="bg-success">
<span class="glyphicon glyphicon-ok"></span> You are the current high bidder on this item!
</div>
{% endifequal %}
{% endif %}
{% endif %}

</div>
</div>
</div>
</div>
{% endfor %}
{% endif %}

{% endifnotequal %}

{% endblock %}
