{% extends 'base.html' %}
{% load thumbnail %}

{% block topcontent %}
{% if request.user.is_anonymous %}


<form action="{% url 'bidauth_login' %}" method="post" role="form">
	<div class="modal fade" id="login-box">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<input type="text" class="form-control"
								 name="email" placeholder="email address" />
					<input type="hidden" name="next" value="{{request.get_full_path}}" />
					<input type="submit" value="login/register" class="btn btn-primary" />
				</div>
			</div>
		</div>
	</div>
</form>


<div class="alert alert-info">
<a href="#login-box" class="btn btn-info"
 data-toggle="modal"
 data-target="#login-box">Login/Register</a> to bid.
</div>
{% else %}
<div class="alert alert-info">
Logged in as {{request.user.email}}
[<a href="/accounts/logout/">logout</a>]
</div>
{% endif %}

{% endblock %}

{% block content %}
<p><a href="{% url 'auction_details' item.auction.id %}">Back to
		Auction</a></p>

<h1>{{item.title}}</h1>

<div class="auction-item panel panel-default">
	<div class="panel-body">
		<div class="row">
			<dl class="dl-horizontal">
				<dt>Title</dt><dd>{{item.title}}</dd>
				<dt>Artist(s)</dt>
				<dd>
					<ul class="list-inline">
						{% for ia in item.itemartist_set.all %}
						<li>{{ia.artist.name}}</li>
						{% endfor %}
					</ul>
				</dd>
				<dt>Medium</dt><dd>{{item.medium}}</dd>
				<dt>Description</dt><dd>{{item.description}}</dd>
{% if item.auction.is_ongoing %}
				<dt>Current Bid</dt><dd>&#8364; {{item.high_bid}}</dd>
{% else %}
{% if item.auction.is_completed %}
				<dt>Winning Bid</dt><dd>&#8364; {{item.high_bid}}</dd>
{% endif %}
{% endif %}
			</dl>
		</div>
	</div>
</div>

{% if item.auction.is_ongoing %}
{% if not request.user.is_anonymous %}
{% ifequal item.high_bidder.id request.user.id %}
<div class="bs-callout bs-callout-success">
<h4>Congratulations!</h4>
You are the current high bidder on this item.
You can still increase your bid, though!
</div>
{% endifequal %}
{% endif %}

{% if not request.user.is_anonymous %}
<div class="auction-item panel panel-default">
	<div class="panel-body">


{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
{% endfor %}
{% endif %}

<form action="{% url 'bid_on_item' item.id %}" method="post" role="form" class="form-inline" />
<fieldset><legend>Bid on this item</legend>

<p class="help-block">Bids are rounded up to the nearest whole
	Euro. Suggested bid is shown, but you can enter anything higher
	than the current bid.</p>

<div class="form-group">
  <div class="input-group">
		<label class="sr-only" for="bid">Bid Amount</label>
		<div class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></div>
		<input type="text" id="bid" name="bid"
						 value="{{item.bid_suggestion}}" class="form-control" />
	</div>
</div>
<input type="submit" class="btn btn-primary" value="Bid!" />
</fieldset>
</form>


</div>
</div>
{% endif %}
{% endif %}


<div class="row">
{% for image in item.itempicture_set.all %}
<div class="col-md-10">
<img src="{% thumbnail image.image 960x600 %}" />
</div>
{% endfor %}
</div>

{% endblock %}
