{% extends 'base.html' %}

{% block pagetitle %}MAP{% endblock %}
{% block pageid %}map{% endblock %}

{% block topcontent %}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus mauris nec nulla bibendum aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus ligula quis venenatis dapibus. Pellentesque volutpat nibh sed elementum pharetra. Curabitur non tempus diam, nec mattis purus. Nunc nec tortor consequat, vestibulum purus ut, volutpat diam. Suspendisse potenti. Sed at libero eleifend, commodo turpis vitae, placerat massa. Proin vitae urna vestibulum, cursus velit sit amet, aliquam tortor. Aenean non mauris sagittis, mattis nibh ut, scelerisque libero. Nulla lobortis, lectus ut accumsan aliquet, arcu nisl mattis metus, et fermentum ipsum diam id ante. Nulla iaculis commodo dolor et hendrerit. Nam eget ipsum quis mauris consequat laoreet. Pellentesque ac lorem ac magna vehicula luctus faucibus sit amet nisi. Ut efficitur interdum ex ac dictum.
</p>
{% endblock %}

{% block content %}

<video class="video-js vjs-default-skin" style="width: 100%; height: auto"
       autoplay loop>
  <source src="http://spokehub-video.s3.amazonaws.com/ARTSHO_3_compressed_1.mp4">
    <source src="http://spokehub-video.s3.amazonaws.com/ARTSHO_3_compressed_1.mp4"
            type="video/mp4">
</video>


{% endblock %}
