{% extends 'base.html' %}
{% load markup %}
{% load thumbnail %}
{% load waffle_tags %}

{% block pagetitle %}{{object.title}}{% endblock %}
{% block pageid %}artsho{{show.id}}{% endblock %}

{% block topcontent %}
<p>{{show.year}} {{show.location}}</p>
{% endblock %}


{% block content %}
{% flag auctions %}
{% if object.auction %}
<p><a href="{% url 'auction_details' object.auction.id %}">Visit the Auction for this Show</a></p>
{% endif %}
{% endflag %}


{{object.description|markdown}}

{% if show.showvideo_set.count %}
{% for v in show.showvideo_set.all %}
<div class="embed video-player">
<iframe class="youtube-player" type="text/html"
    width="853" height="480"
    src="http://www.youtube.com/embed/{{v.youtube_id}}"
    allowfullscreen frameborder="0">
</iframe>
</div>

{% endfor %}
{% endif %}

{% if show.picture_set.count %}
{% for picture in show.picture_set.all %}

<div id="picture-{{picture.id}}" class="lightbox fade"  tabindex="-1" role="dialog" aria-hidden="true">
	<div class="lightbox-dialog">
		<div class="lightbox-content">
			<img src="{% thumbnail picture.image 960x960 %}">
		</div>
	</div>
</div>

<div class="show-thumb">
<a data-toggle="lightbox"
	 href="#picture-{{picture.id}}">
	<img src="{% thumbnail picture.image 200x200 crop %}"
			 width="200" height="200"  class="img-responsive" />
</a>
</div>
{% endfor %}

{% endif %}
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}bootstrap-lightbox.js"></script>
<link href="{{STATIC_URL}}bootstrap-lightbox.css" rel="stylesheet"></script>
{% endblock %}
